__pycache__
.DS_Store
util/__pycache__
services/__pycache__
data_exported/.DS_Store
data_to_read/.DS_Store

data_exported/BR700-715C1-30_static_placement.csv
data_exported/CF6-80C2B6_static_placement.csv
data_exported/CF6-80C2B6F_static_placement.csv
data_exported/CF6-80C2B8F_static_placement.csv
data_exported/CF6-80E1A4_static_placement.csv
data_exported/CFM56-5A_static_placement.csv
data_exported/CFM56-5B3-3_static_placement.csv
data_exported/CFM56-7B26_static_placement.csv
data_exported/CFM56-7B27E-B1F_static_placement.csv
data_exported/PW2000-2037_static_placement.csv
data_exported/PW2000-2040_static_placement.csv
data_exported/PW4000-4060_static_placement.csv
data_exported/PW4000-4168_static_placement.csv
data_exported/TRENT8-892-17_static_placement.csv
data_exported/V2500-D5_static_placement.csv

data_to_read/all_possible_num_working_num_broken.csv
data_to_read/all_possible_states.csv

data_to_read/BR700-715C1-30/BR700-715C1-30_all_possible_removal_situations.csv
data_to_read/CF6-80C2B6/CF6-80C2B6_all_possible_removal_situations.csv
data_to_read/CF6-80C2B6F/CF6-80C2B6F_all_possible_removal_situations.csv
data_to_read/CF6-80C2B8F/CF6-80C2B8F_all_possible_removal_situations.csv
data_to_read/CF6-80E1A4/CF6-80E1A4_all_possible_removal_situations.csv
data_to_read/CFM56-5A/CFM56-5A_all_possible_removal_situations.csv
data_to_read/CFM56-5B3-3/CFM56-5B3-3_all_possible_removal_situations.csv
data_to_read/CFM56-7B26/CFM56-7B26_all_possible_removal_situations.csv
data_to_read/CFM56-7B27E-B1F/CFM56-7B27E-B1F_all_possible_removal_situations.csv
data_to_read/PW2000-2037/PW2000-2037_all_possible_removal_situations.csv
data_to_read/PW2000-2040/PW2000-2040_all_possible_removal_situations.csv
data_to_read/PW4000-4060/PW4000-4060_all_possible_removal_situations.csv
data_to_read/PW4000-4168/PW4000-4168_all_possible_removal_situations.csv
data_to_read/TRENT8-892-17/TRENT8-892-17_all_possible_removal_situations.csv
data_to_read/V2500-D5/V2500-D5_all_possible_removal_situations.csv